<!-- Cómo funciona -->
<section id="como-funciona">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">¿Cómo funciona?</h2>
                <h3 class="section-subheading text-muted">El funcionamiento de MiVoz está exclusivamente atado a la contribución de la gente y la capacidad de la misma de poder colaborar. Las mejores ideas salen de la conjunción de la sabiduría de todos, y por esto es que MiVoz propone una serie de pasos para maximizar ese conocimiento.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/idea_construccion3.gif" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>IDEACIÓN</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">
                                    Comparte tu idea para solucionar algún problema que le impacta a muchos uruguayos. Recuerda cuanto más concreta sea tu idea y más información tengas para compartir, generarás más participación y difusión de la misma.
                                    <br>
                                    <a class="btn btn-sm" href="https://digo.mivoz.uy/new-topic?category=general&title=Escribe+un+t%C3%ADtulo+aqu%C3%AD+y+selecciona+la+categor%C3%ADa+que+mejor+aplica+para+tu+idea" style="margin-top: 1em;">PROPONE TU IDEA ACÁ</a>
                                    <a class="btn btn-sm btn-info" href="https://digo.mivoz.uy" style="margin-top: 1em;">VER TODAS LAS IDEAS PUBLICADAS</a>
                                </p>
                            </div>
                        </div>
                        <div class="timeline-opposite">
                            <img class="arrow" src="img/flecha.gif" title="Fase actual" />
                        </div>
                    </li>
                    <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/speaker3.gif" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>PRESENTACIÓN</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        En esta etapa se procederá a la presentación de las propuestas completadas para dar lugar a su votación. Dependiendo del feedback recibido, puede haber una instancia de modificaciones.
                                    </p>
                                </div>
                            </div>
                        </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/vote3.gif" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>VOTACIÓN</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">
                                    Vota tu idea y la de los demás para darle legitimidad para que se convierta en una propuesta definitiva. Cuantos más votos, más razones tendrás las autoridades correspondientes para ponerla en práctica.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/exe2.gif" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>EJECUCIÓN</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Desde MiVoz buscamos darle impacto a tu idea de las siguientes manera:
                                <ul class="text-muted">
                                    <li>Enviaremos las propuestas que llegaron a esta instancia a las autoridades correspondientes que puedan ejecutarlas.</li>
                                    <li>Organizaciones políticas las tomarán para empoderarlas de distintas formas. <a href="/impacto">Conoce quienes quieren darle poder a tu voz</a>.</li>
                                    <li>Te daremos las herramientas para poder impulsar consultas populares con tu idea.</li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>