<!-- Departamentos -->
<section id="depatamentos">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading hidden-xs">Departamentos</h2>
                <h2 class="section-heading visible-xs-block">Departamen-tos</h2>
                <h3 class="section-subheading text-muted">
                    Acá podes acceder a propuestas que hayan sido etiquetadas por departamento. Una propuesta puede aplicar a más de un departamento.
                </h3>
                <div id="mapa-uruguay" class="scaling-svg-container">
                    {% include mapa-uruguay.svg %}
                </div>
            </div>
        </div>
    </div>
</section>