{% include navegacion.html %}

<!-- Header -->
<header style="position: relative;">
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">
                <img src="img/logos/LogoMiVoz.png" alt="MiVOZ" class="img-responsive" style="display: inline-block" /><br>
                <div style="color: white; font-family: Arial;">por<img style="display: inline; margin-left: 2rem;" src="https://recursos.partidodigital.org.uy/assets/img/logo_horizontal_blanco.png" width="300" class="img-responsive" /></div>
            </div>
            <div class="intro-heading">Ahora tienes voz, ¡úsala!</div>
            <div class="intro-lead-in"><span style="background-color: #222;">Las propuestas que sean completadas, validadas y aprobadas en MiVoz serán presentadas en el parlamento en 2020 por el Partido Digital e integrarán su Programa de Gobierno.</span></div>
            <a href="https://digo.mivoz.uy/new-topic?category=general&title=Escribe+un+t%C3%ADtulo+aqu%C3%AD+y+selecciona+la+categor%C3%ADa+que+mejor+aplica+para+tu+idea" class="btn btn-info">PROPONE TU IDEA</a>
            <a href="https://digo.mivoz.uy/c/votacion" class="btn btn-info btn-orange">VOTAR PROPUESTAS</a>
            <!--<a href="https://digo.mivoz.uy" class="btn btn-info" style="margin-top: 1em;">VER TODAS LAS IDEAS PUBLICADAS</a>-->
        </div>
    </div>
    <small style="position: relative;bottom: 0;width: 100%;"><a href="https://www.flickr.com/photos/jamescridland/613445810//?rb=1" target="_blank" style="
    color: grey;">"Crowd" por James Cridland - Licencia CC 2.0 (via Flickr)</a></small>
</header>
