{% include navegacion.html %}

<!-- Header -->
<header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">
                <img src="img/logos/LogoMiVoz.png" alt="MiVOZ" class="img-responsive" style="display: inline-block" />
            </div>
            <div class="intro-heading">Ahora tienes voz, ¡úsala!</div>
            <div class="intro-lead-in"><span style="background-color: #222;">Tienes mucho para aportar de lo que sabes, de lo que haces en tu día a día, de lo que has estudiado o lo que te ha enseñado tu trabajo, ¡comienza ahora!<br>¡Uruguay precisa de las ideas de todos!</span></div>
            <a href="#como-funciona" class="page-scroll btn btn-xl">Conocer más</a>
        </div>
    </div>
</header>