<!-- Ley de Urgente Consideración -->
<section id="ley-uc">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading hidden-xs">Ley de Urgente Consideración</h2>
                
                <h3 class="section-subheading text-muted">Te invitamos a participar en la discusión de los capítulos de la Ley de Urgente Consideración (LUC) presentada por Compromiso por el País para el periodo de gobierno de 2020 a 2025.
En esta discusión se buscarán recolectar aportes para acercar al presidente electo Luis Lacalle Pou.<br><br>

Tendrás tiempo para hacerlo hasta el 10 de Febrero a las 00hs.<br><br>

Una vez cumplido el plazo se tomarán en cuenta los aportes a la LUC más votados en Mi Voz y se entregará en un documento al equipo de Luis Lacalle Pou, documento que también se hará público. <br><br>

¿Qué tenés para aportar?</h3>
<a href="" class="btn btn-info btn-orange" style="margin-top: 1em;">PARTICIPA ACÁ</a>
                
            </div>
        </div>
    </div>
</section>
