<!-- Preguntas -->
<section id="preguntas-frecuentes">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Preguntas frecuentes</h2>
                <hp class="text-muted">
                    Si tienes alguna otra pregunta o sugerencia no dudes en <a href="#contacto">contactarte</a> con nosotros.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#puntosRequeridos" aria-expanded="false">¿Por qué es necesario completar los puntos requeridos para pasar a votación?</a>
                            </h4>
                        </div>
                        <div id="puntosRequeridos" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                            <div class="panel-body">
                                Porque de esa manera aumentamos las posibilidades que las ideas puedan ser ejecutadas a nivel ejecutivo. Queremos ver las ideas hechas realidad, ¡que salgan de la pantalla!
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#partidoPolitico" aria-expanded="false">¿Esta plataforma pertenece a algún partido político?</a>
                            </h4>
                        </div>
                        <div id="partidoPolitico" class="panel-collapse collapse" aria-expanded="false">
                            <div class="panel-body">
                                No, es abierta para que todos los partidos políticos tomen insumos de aquí para generar propuestas y ejecutar las ideas que los uruguayos proponen aquí. 
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#votacionesFidedignos" aria-expanded="false">¿Cómo sé que los resultados de las votaciones son fidedignos?</a>
                            </h4>
                        </div>
                        <div id="votacionesFidedignos" class="panel-collapse collapse" aria-expanded="false">
                            <div class="panel-body">
                                Al momento de habilitar las votaciones, a una persona física le corresponde un solo voto. Esto va a estar asegurado por el sistema de autenticación, donde mediante un mecanismo de habilitación, solo aquellas personas con credencial cívica va a poder ingresar a votar. Este mecanismo no está habilitado para la etapa actual de proponer ideas.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#participacionSegura" aria-expanded="false">¿Cómo sé que mi participación es segura?</a>
                            </h4>
                        </div>
                        <div id="participacionSegura" class="panel-collapse collapse" aria-expanded="false">
                            <div class="panel-body">
                                La seguridad es muy importante para nosotros, ya que en base a la misma es que se puede generar un ambiente de confianza para promover los objetivos de MiVoz. Tu participación es segura de muchas maneras: contamos con la certificación requerida para que los navegadores intercambien información de forma encriptada; el servicio de autenticación provee medidas de seguridad extra (tales como autenticación en dos pasos) para asegurar que solo tú seas la persona que accede a tu cuenta; ese servicio también cuenta con mecanismos que determinan si tu cuenta ha sido hackeada o si se encuentra comprometida de alguna manera, para que puedas tomas acciones inmediatamente.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#diferenciaMiVoz" aria-expanded="false">¿Qué diferencias hay entre participar en MiVoz y expresarme en redes sociales?</a>
                            </h4>
                        </div>
                        <div id="diferenciaMiVoz" class="panel-collapse collapse" aria-expanded="false">
                            <div class="panel-body">
                                La participación en MiVoz no puede ser anónima como en las redes sociales (o los comentarios en diarios online) por lo que saca es manto de impunidad que se ve en las redes sociales. Además aquellas faltas de respeto a otras personas serán moderadas según normas de convivencia básicas. Creemos que son dos diferencias fundamentales que mejorarán el nivel de la discusión en MiVoz y generará aportes más valiosos.
                            </div>
                        </div>
                    </div>
                </div>                    
            </div>
        </div>
    </div>
</section>
