<!-- Ideas responsables -->
<section id="tu-idea">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Tu idea</h2>
            </div>
        </div>
        <!--<div class="row">
            <p class="text-muted">
                Comparte tu idea para solucionar algún problema que le impacta a muchos uruguayos. Ten en cuenta que las ideas compartidas deben ser propuestas siguiendo un formato para mantener un criterio responsable para que otras personas puedan contribuir y luego llegar a propuestas sólidas y fáciles de entender. Si bien no es obligatorio completar todos los siguientes puntos, te aconsejamos que agregues la mayor cantidad de información posible.
            </p>
            <div class="col-md-3 text-center">
                <span class="btn-circle">
                   <i class="fa fa-dollar" aria-hidden="true"></i>
                </span>
                <h3>Introducción</h3>
                <p>¿Qué quieres solucionar? Qué es lo que te motiva a hacerlo?</p>
            </div>
            <div class="col-md-3 text-center">
                <span class="btn-circle">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </span>
                <h3>Diagnóstico</h3>
                <p>¿Cuáles son las estadísticas y datos que demuestran el problema que quieres solucionar?</p>
            </div>
            <div class="col-md-3 text-center">
                <span class="btn-circle">
                    <i class="fa fa-file-text-o" aria-hidden="true"></i>
                </span>
                <h3>Propuesta</h3>
                <p>¿Cuál es tu idea para solucionarlo?</p>
            </div>
            <div class="col-md-3 text-center">
                <span class="btn-circle">
                    <i class="fa fa-comments" aria-hidden="true"></i>
                </span>
                <h3>Indicadores</h3>
                <p>¿Cómo se podría verificar que se solucionó el problema o mejoró la situación? Por ej.: si quiero que baje la deserción en educación, el indicador es la cantidad de alumnos que dejan de estudiar en educación secundaria. Si crees que tienes la información necesaria, lo puedes plantear como un objetivo, por ejemplo: disminuir el 10% de la deserción liceal en un plazo de 5 años en los liceos de Flores.</p>
            </div>
            <div class="col-md-3 text-center">
                <span class="btn-circle">
                    <i class="fa fa-comments" aria-hidden="true"></i>
                </span>
                <h3>Institucionalidad</h3>
                <p>¿Qué institución u organismo te parece que está mejor capacitado para llevar adelante la solución planteada? Por ej.: Ministerios, Sociedad Civil, Organizaciones</p>
            </div>
            <div class="col-md-3 text-center">
                <span class="btn-circle">
                    <i class="fa fa-comments" aria-hidden="true"></i>
                </span>
                <h3>Financiamiento</h3>
                <p>¿De dónde proviene el dinero necesario para llevar a cabo la solución propuesta?</p>
            </div>
            <div class="col-md-3 text-center">
                <span class="btn-circle">
                    <i class="fa fa-comments" aria-hidden="true"></i>
                </span>
                <h3>Fuentes</h3>
                <p>¿En qué información te basaste para compartir la información anterior? Por favor comparte los links aquí.</p>
            </div>
        </div>-->
        <div class="row">
            <p class="text-muted">
                Comparte tu idea para solucionar algún problema que le impacta a muchos uruguayos. Ten en cuenta que las ideas compartidas deben ser propuestas siguiendo un formato para mantener un criterio responsable para que otras personas puedan contribuir y luego llegar a propuestas sólidas y fáciles de entender. Si bien no es obligatorio completar todos los siguientes puntos, te aconsejamos que agregues la mayor cantidad de información posible.
            </p>
            <div class="col-lg-offset-1 col-lg-10" style="border: 1px dashed black; margin-top: 1em; margin-bottom: 2em;">
                <h4>Introducción</h4>
                <p>¿Qué quieres solucionar? Qué es lo que te motiva a hacerlo?</p>
                <h4>Diagnóstico</h4>
                <p>¿Cuáles son las estadísticas y datos que demuestran el problema que quieres solucionar?</p>
                <h4>Propuesta</h4>
                <p>¿Cuál es tu idea para solucionarlo?</p>
                <h4>Indicadores</h4>
                <p>¿Cómo se podría verificar que se solucionó el problema o mejoró la situación? Por ej.: si quiero que baje la deserción en educación, el indicador es la cantidad de alumnos que dejan de estudiar en educación secundaria. Si crees que tienes la información necesaria, lo puedes plantear como un objetivo, por ejemplo: disminuir el 10% de la deserción liceal en un plazo de 5 años en los liceos de Flores.</p>
                <h4>Institucionalidad</h4>
                <p>¿Qué institución u organismo te parece que está mejor capacitado para llevar adelante la solución planteada? Por ej.: Ministerios, Sociedad Civil, Organizaciones</p>
                <h4>Financiamiento</h4>
                <p>¿De dónde proviene el dinero necesario para llevar a cabo la solución propuesta?</p>
                <h4>Fuentes</h4>
                <p>¿En qué información te basaste para compartir la información anterior? Por favor comparte los links aquí.</p>
            </div>
            <div class="col-lg-12 text-center" style="margin-bottom: 2em;">
                <a href="https://digo.mivoz.uy" class="btn btn-xl">PROPONE TU IDEA ACÁ O AYUDA A COMPLETAR LAS EXISTENTES</a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="well well-lg text-center">
                    <h4>Estás son algunas ideas que otros uruguayos han publicado, ¿tienes comentarios que hacerles? ¡Hazlos!</h4>
                    <div id="ideas"></div>
                    <a href="https://digo.mivoz.uy" class="btn btn-info" style="margin-top: 1em;">VER TODAS LAS IDEAS PUBLICADAS</a>
                </div>
            </div>
        </div>
    </div>
</section>